<div class="d-flex flex-column justify-content-center align-items-center h-100">
    <div class="d-flex flex-column mb-3">
        <ng-container *ngIf="roleType == 'presenter'">
            <button class="btn btn-primary m-3" [disabled]="!techSelected" (click)="handleConnectionBtn()">{{ controlBtnLabel }}</button>
            <select name="pets" id="pet-select" (change)="handleTechs($event)" [disabled]="transmissionActive" [(ngModel)]="techSelected">
                <option value="" selected>--Please choose a technology--</option>
                <option *ngFor="let tech of roleConfig" [value]="tech" >{{ tech }}</option>
            </select>
            <ng-container *ngIf="uiOpts">
                <app-ui-options [options]="uiOpts" [mobileFlag]="mobileFlag" [mode]="mode" (screenSelected)="getSelectedScreen($event)"></app-ui-options>
            </ng-container>
            <ng-container *ngIf="transmissionActive">
                <app-ui-canvas></app-ui-canvas>
            </ng-container>
        </ng-container>
    </div>
    <br>
</div>